.red{
    background-color: red;
    color: green;
}

.nav{
    background: #000;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}
.nav > a {
    padding: 10px;
}

#root{
    font-size: large;
}

*{
    padding: 0px;
    margin: 0px;
}